.breadcrumbs {
    padding: 24px 0;

    @include mobile {
        display: none;
    }
}
.breadcrumbs__wrapper {
    display: flex;
    gap: 34px;
}
.breadcrumbs__item {
    position: relative;
    &::before {
        content: '';
        background-image: url('./../../img/breadcrumbs/arrow.svg');
        background-position: center center; /* x y */
        background-size: contain;
        background-repeat: no-repeat;
        display: block;
        width: 14px;
        height: 18px;
        position: absolute;
        right: -24px;
        top: 50%;
        transform: translateY(-50%);
    }
    a {
        font-weight: 400;
        font-size: 14px;
        line-height: 130%;
        color: #424242;
    }

    &:last-child {
        &::before {
            content: '';
            background: none;
            width: 0;
            height: 0;
            position: absolute;
            right: 0;
            top: 0;
        }
    }
}