.icons-wrapper {
	padding: 30px 0;
	display: flex;
	column-gap: 30px;
}

.icon {
	fill: transparent;
	stroke: transparent;
	width: 24px;
	height: 24px;
}

.icon--user {
	stroke: #383838;
    transition: all .3s ease;
}

.icon--blog {
	stroke: #383838;
    transition: all .3s ease;
}

.icon--phone {
	stroke: #383838;
    transition: all .3s ease;
}

.icon--star {
	stroke: #FF9D29;
	width: 12px;
	height: 12px;
}

.icon--star-active {
	stroke: #FF9D29;
	fill: #FF9D29;
}