.mobile-nav {
	position: fixed;
	// top: 0;
	top: 44px;
    left: -100%;
	width: 100%;
	height: calc(100% - 44px);
    z-index: 99;

	display: flex;
    flex-direction: column;
    align-items: center;
	justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
    // background: linear-gradient(209deg, #4287b3 -17.38%, #133f6b 78.4%), #276195;
	background: #fff;
	transition: all 0.2s ease-in;
}

.mobile-nav--open {
    left: 0;
}

.mobile-nav a {
	color: #424242;
}

.mobile-nav__list {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 20px;
	font-size: 28px;

	& .active {
		opacity: 0.5;
	}
}