.reviews {
    display: flex;
    flex-direction: column;
    gap: 24px;

}
.reviews__title {
    font-weight: 800;
    font-size: 28px;
    line-height: 120%;
    color: #424242;
    width: 100%;
    text-align: left;
    sup {
        font-weight: 400;
        font-size: 24px;
    }

    @include mobile {
        padding-left: 15px;
    }
}
.reviews__wrapper {
    position: relative;
}
.reviews__slider {
    width: 832px;
    &.swiper {
        padding-bottom: 32px;
    }
    .swiper-horizontal > .swiper-scrollbar, .swiper-scrollbar.swiper-scrollbar-horizontal {
        bottom: 0;
        height: 16px;
    }
    .swiper-scrollbar {
        border-radius: 7px;
        background: #ddd;
    }
    .swiper-scrollbar-drag {
        background: #a8a8a8;
    }

    @media (max-width: 1160px) {
        width: calc(100vw - 30px);
        overflow: hidden;
    }
}

.reviews__slide {
    border-radius: 8px;
    padding: 30px 24px;
    width: 100%;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.08);
    background: #fff;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.reviews__slide--datetime {
    font-weight: 400;
    font-size: 13px;
    line-height: 130%;
    color: #868686;
}
.reviews_slide--user-info {
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.reviews_slide--name {
    font-weight: 600;
    font-size: 14px;
    line-height: 130%;
    color: #383838;
    span {
        display: block;
    }
}
.reviews_slide--rating {
    display: flex;
    gap: 8px;
    align-items: center;
    img {
        width: 12px;
        height: 12px;
    }
}
.reviews_slide--text {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.reviews_slide--title {
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    color: #383838;
}
.reviews_slide--descr {
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    color: #5e5e5e;
}
.reviews__btn {
    width: 438px;
    text-align: center;
    margin: 0 auto;
    @include mobile {
        width: calc(100% - 30px);
    }
}